:root {
  --baggrund: #ffffff;
  --divider: #EAEDF1;
  --border: #dce0e5;

  --primary: #108F8B;
  --primary_hover: #127b78;

  --sort: #22272A;
  --faded_sort: #313539;

  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-playfair);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--faded_sort);
  background: var(--baggrund);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  transition: .2s;
  outline-color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

.highlight {
  color: var(--primary);
}

.main__secondary__btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main__secondary__btn:hover .main__secondary__btn__icon {
  transform: translateX(6px);
}

.main__secondary__btn__icon {
  width: 26px;
  height: 26px;
  fill: var(--primary);
}

.main__primary__btn .main__secondary__btn__icon {
  fill: #fff
}

.main__primary__btn {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 0;
  color: #fff;
  background-color: var(--primary);
  border-radius: 100px;
  cursor: pointer;
  padding: 0px 20px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__primary__btn:hover {
  background-color: var(--primary_hover);
}

.main__primary__btn:hover .main__secondary__btn__icon {
  transform: translateX(6px);
}

.divider {
  font-size: 9px;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 5px;
}