.main__hero__container {
    width: 100%;
    position: relative;
}

.main__hero__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    opacity: 1;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main__hero__content {
    padding: 80px 0;
}

.main__hero__heading {
    font-size: 64px;
    font-weight: 600;
    font-family: var(--font-playfair);
    line-height: 100%;
    padding-bottom: 24px;
}

.main__hero__heading__sans {
    font-family: var(--font-sans);
}

.main__hero__description {
    font-size: 20px;
    font-weight: 400;
    max-width: 650px;
    line-height: 150%;
}

.main__hero__cta__container {
    padding-top: 24px;
}

.main__hero__cta__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main__hero__cta__fud__wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.main__hero__cta__fud__p {
    font-size: 14px;
    font-weight: 400;
}

.main__hero__cta__fud__icon {
    width: 18px;
    height: 18px;
    fill: var(--faded_sort);
}

.main__hero__cta__fud__wrapper {
    padding-top: 12px;
    padding-left: 2px;
    opacity: .8;
}

.main__hero__dots {
    top: 200px;
    left: 0;
    position: absolute;
    opacity: 0.7;
    height: 450px;
    object-fit: cover;
}

.main__hero__banner__dots {
    bottom: 0px;
    right: 0;
    position: absolute;
    opacity: 0.8;
    height: 350px;
    object-fit: cover;
    z-index: 2;
}

.main__landingpage__dots {
    bottom: 100px;
    right: 0;
    position: absolute;
    opacity: 1;
    height: 350px;
    object-fit: cover;
}

.main__hero__checklist__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 18px;
}

.main__hero__checklist__element {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main__hero__checklist__element__icon {
    fill: var(--primary);
    width: 20px;
    height: 20px;
}

.main__hero__checklist__element__p {
    font-size: 18px;
}

.main__hero__form {
    width: 450px;
    border: 1px solid var(--border);
    border-radius: 14px;
    height: auto;
    margin-top: 80px;
    padding: 40px 30px;
    background-color: #fff;
    z-index: 3;
    position: relative;
}

.main__contact__hero .main__hero__form {
    margin-top: 20px;
}

.main__hero__content .main__hero__form {
    margin-top: 30px;
    padding: 30px;
    border: 1px solid var(--divider);
}

.main__hero__content .main__hero__form__heading {
    font-size: 18px;
}

.main__hero__form__wrapper {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main__hero__form__input__label {
    font-size: 15px;
    font-weight: 500;
}

.main__hero__form__input__container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main__hero__form__input {
    border-radius: 8px;
    height: 44px;
    border: 1px solid var(--border);
    padding: 0 20px;
}

.main__hero__form__textarea {
    border-radius: 8px;
    height: 44px;
    border: 1px solid var(--border);
    padding: 0 20px;
    padding-top: 14px;
    min-height: 100px;
    resize: vertical;
    font-size: 14px;
}

.main__hero__form__heading {
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    padding-bottom: 8px;
}

.main__hero__form__p {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}

.main__input__error {
    border-color: #ef7979;
    outline-color: #f9b6b6;
    outline-offset: 2px;
}

.main__hero__form__ansvarlig__heading {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 2px;
}

.main__hero__form__ansvarlig__p {
    font-size: 13px;
    font-weight: 400;
}

.main__hero__form__ansvarlig__image {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    object-fit: cover;
}

.main__hero__form__ansvarlig__container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.main__hero__form__trustpilot {
    height: 18px;
    width: auto;
    object-fit: cover;
    margin-bottom: 12px;
}